version: "3.8"

services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      #target: development
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules

    environment:
      PUBLIC_KEY: copykeyhere
      NODE_ENV: development
      HOST: 0.0.0.0 # <--- CHANGE 1: Add HOST to bind correctly
    #stdin_open: true
    #tty: true
    command: npm start

  app-prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8080:80"
    environment:
      NODE_ENV: production
